
.products h1 {
  text-align: center;
  color: #317AE0;
  font-weight: 600;
  text-transform: uppercase;
  margin: 2.5rem 0 1.7rem !important;
}

.products .image {
  width: fit-content;
  height: 115px;
}
.products img {
  max-width: 100%;
}


